.modal-content {
  border-radius: 1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.modal-header i {
  font-size: 1.3rem;
}

.modal-body {
  text-align: justify;
}
